@media (max-width: 768px) {
    body {
        height: 100vh;
        background-position: center;
    }

    .logo {
        width: 90%;
    }

    .content {
        margin-top: 50px;
    }

    .content > h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    .content > h4 {
        font-size: 1.2rem;
    }
    .content > h1 > span{
        position: relative;
        bottom: 20px;
    }
    .content > h2 {
        font-size: 6rem;
        margin-top: 40px;
    }
    footer{
        font-size: .9rem;
    }
    .navlist {
        position: absolute;
        width: 30%;
        height: 30vh;
        right: 10px;
        padding: 1rem 4%;
        border-radius: 10px;
        background-color: white;
        box-shadow: -5px 5px 5px #000000ab;
        z-index: 100;
        top: 80px;
        gap: 10px;
        display: none;
        flex-direction: column;
    }
    .navbar{
        position: relative;
        bottom: 5px;
    }

    .navItem{
        text-align: start;
        width: 100%;
        padding-left: 20px;
   }
    .navlist.show {
        display: flex;
    }
    .graphic img {
        width: 50%;
    }

    #menu-icon {
        display: block;
        margin-right: 20px;
    }
    form{
        width: 350px;
    }
    .event{
        margin-top: 50px;
    }
    .prizeList{
        flex-direction: column;
    }
    .prize h1{
        text-align: center;
        font-size: 1.6rem;
        margin-bottom: 20px;
    }

    .downloadBtn{
        width: 90%;
    }


}
